@model List<CoinPaymentsDemo.Models.Transaction>
@{
    ViewBag.Title = "Home Page";
}
@if (!ViewBag.Initial) { 
    if (ViewBag.Created == true)
    {
        <span> Transaction successfully created </span>
    }
    else
    {
        <span> Transaction not created</span>

    }
}
<style>
    td {
        padding:5px;
    }
    th {
        padding: 5px;
        width: 150px;
    }
    table {
        margin:10px;
    }
    form {
        margin: 10px;
    }
</style>
<div class="row">
    <form action='@Url.Action("CreateTransaction")' method="post">
        <label>Amount</label>
        <input type="text" name="amount" />
        <input type="submit" value="Create Transaction" />
    </form>

    <table border="1">
        <tr>
            <th>Amount in LTCT to send</th>
            <th>Status Url</th>
            <th>QRCode Url</th>
            <th>Status Message</th>
            <th>Address to send coins to</th>
        </tr>

        @foreach (var modelObj in Model)
        {
            <tr>
                <td>@modelObj.Amount</td>
                <td><a href='@modelObj.StatusUrl'>Status Url</a></td>
                <td><a href='@modelObj.QRcodeUrl'>QR Code Url</a></td>
                <td>@modelObj.StatusMessage</td>
                <td>@modelObj.Address</td>
            </tr>
        }
    </table>

</div>